<?xml version="1.0" encoding="utf-8" ?>
<!--

Purpose: This include file enables and configures the Navigation feature.

This feature contains renderings such as Menu,Footer and Header that are used to display the content.
To disable this file, change its extension to ".disabled".

-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <settings>
      <setting name="nw-domains" value="https://intro.com" />
    </settings>
  </sitecore>
</configuration>
